{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-left">
        <div class="p-5 mb-4 mt-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Dirección</h1>
                <p >El colegio se encuentra en la ciudad de San Clemente</p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6057.742380511102!2d-71.48050598788318!3d-35.54719776896198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9665942c995f2cc1%3A0x737127209b2e14d1!2sColegio%20Altas%20Cumbres%20de%20San%20Clemente!5e0!3m2!1ses!2scl!4v1636374155465!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

{% endblock %}