{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arcoiris</title>
    {# Load the tag library #}
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- CSS only -->
    <style>
        /*efecto para letras del h1 Colegio altas cumbres*/

        .animate-charcter {
           text-transform: uppercase;
          background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
          );
          background-size: auto auto;
          background-clip: border-box;
          background-size: 200% auto;
          color: #fff;
            text-fill-color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: textclip 2s linear infinite;
          display: inline-block;
              font-size: 90px;
        }
        @keyframes textclip {
          to {
            background-position: 200% center;
          }
        }

        #menuprincipal{
            background: #c975d1;
        }

        #covid{
            background: #F4D03F;

        }

        /* You can adjust the image size by increasing/decreasing the width, height */
        .custom-circle-image {
          width: 10vw; /* note i used vw not px for better responsive */
          height: 10vw;
        }

        #pie{
            background: blanchedalmond;
        }

        #ciclo{
            color: blanchedalmond;
        }

        .nav-link{
            text-decoration-color: white;
        }

        h1, h2, h3, h4, h5, h6 {
          font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
        }

        .jumbotron {
          align-items: center;
          display: flex;
          background-image: url('{% static "images/fondo.png" %}');
          background-image: url('{% static "images/fondo.png" %}'), 
          linear-gradient( to bottom, #000,#BBB);
          background-size: cover;
          height: 95vh; /* Add this */
        }

.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}





    </style>
</head>
<body>

    <section >
      <nav id="menuprincipal" class="navbar navbar-expand-lg navbar-light py-4">
        <div class="container text-white">
          <a class="navbar-brand text-white" href="{% url 'index' %}">
            <img class="img-fluid" src="{% static 'images/logoarc.jpg' %}" alt="" height="50" width="40">
              Escuela Arcoiris
          </a>

          <div class="collapse navbar-collapse" id="header01">
            <ul class="navbar-nav ms-auto mt-3 mt-lg-0 mb-3 mb-lg-0 me-4">
              <li class="nav-item me-4"><a class="nav-link text-white" href="{% url 'colegio' %}">Escuela</a></li>
              <li class="nav-item me-4"><a class="nav-link text-white" href="{% url 'noticias' %}">Noticias</a></li>
              <li class="nav-item me-4"><a class="nav-link text-white" href="#">Servicios</a></li>
              <li class="nav-item me-4"><a class="nav-link text-white" href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
            <!--<div><a class="btn btn-primary" href="#">Contact Us</a></div>-->
          </div>

        </div>
      </nav>

    </section>



  {% block content %}<!-- default content text (typically empty) -->

      <div class="">
        <section class="jumbotron text-center ">
            <div class="container">
              <h3 class="animate-charcter">Escuela de Lenguaje Arcoiris San Clemente</h3>

            </div>
        </section>
      </div>

      <div id="covid" class=" px-4 py-5 text-center">
                <div  class="py-5">
                    <h1 class="display-4 fw-bold foo  foo-1">Medidas Covid19</h1>

                    <p class="foo  foo-2 covidm">En el colegio hemos implementado una serie de medidas para una vuelta a clases
                        más segura.</p>
                    <img src="{% static 'images/covid.png' %}" class="img-fluid" height="100" width="100">
                </div>

                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="{% url 'covid' %}"><button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold">Conocer estas medidas</button>
             </a>
                </div>
        </div>
    </div>

    <div class="album py-5 bg-light text-center">
        <h1 class="display-4 fw-bold foo  foo-2">Noticias</h1>
        <div class="container">
            <div class="row" data-masonry='{"percentPosition": true }'>
            {% for noticia in noticias %}
                <div class="col-sm-4 col-md-3 py-3">
                    <div class="card border">
                        <div class="card-body">
                            <h3 class="card-title">{{ noticia.titulo }}</h3>
                            <small>{{ noticia.date }}</small>
                            <p id="notice" class="card-text">{{ noticia.texto}}</p>
                            <a href="{% url 'blog' noticia.id %}" class="btn btn-outline-secondary">Leer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'noticias' %}"> <button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold">Ver todas </button></a>
        </div>
    </div>


    <div class="bg-dark  py-5 text-center">
        <div class="py-5">
                <h1 class="foo  foo-1 display-5 fw-bold text-white">Eventos proximos</h1>
                <!--<p class="fs-5 mb-4">onsive grid system and powerful JavaScript plugins.</p>-->


                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% for evento in eventos %}
                    <div class="col-sm-4 col-md-3 py-3 ">
                        <div class="card text-dark bg-info mb-3">
                          <div class="card-header">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                              </svg>{{ evento.fecha}}</div>
                          <div class="card-body">
                            <h5 class="fw-bold card-title">{{ evento.titulo }}</h5>
                            <p class="card-text">{{ evento.texto }}</p>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        <!--
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Más acerca de eventos</button>
                </div>-->
        </div>
    </div>

     <div class="py-5 bg-light text-center">
         <div class="foo  foo-1">
             <h1 class="display-4 fw-bold">Educadoras</h1>
         </div>
         <div class="foo  foo-2">
             <p class="fs-5 mb-4"></p>
         </div>
         <div class="container py-2">

             <div class="row" data-masonry='{"percentPosition": true }'>
                 {% for profesor in profesores %}
                <div class="col-sm-4 col-md-3 py-3">
                    <div class="card border">
                        <img src="{{ profesor.foto.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">{{ profesor.nombre }} {{ profesor.apellido }}</h3>
                            <p class="card-text">{{ profesor.profesion}}.</p>
                            <small>{{ profesor.descripcion }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
             </div>
             <a href="{% url 'profesores' %}"><button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold">Conoce a todos nuestros profesores</button>
             </a>
        </div>
    </div>

    <div id="pie" class=" text-dark px-4 py-5 text-center">
            <div class="py-5">

                <h1 class="foo  foo-1 display-5 fw-bold ">Admisión sin tómbola</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="foo  foo-2 fs-5 mb-4">
                        </p>


                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="{% url 'pie' %}"><button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold">Saber más</button></a>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
              <div class="container px-5">
                <img src="{% static 'images/pie.jpg' %}"  class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
              </div>
            </div>
    </div>

      <div class="bg-dark py-5 text-center ">


            <div class="row text-white justify-content-center">

              <div class="col-lg-4 ">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{% static 'images/primerCiclo.jpg' %}" alt="Card image cap">
                </div>
                    <div id="ciclo" class=" mt-2 foo  foo-2">
                        <h2>Medio Mayor A</h2>
                        <p>Es una etapa muy significativa para los niños, ya que comienza un desarrollo de sus habilidades físicas y cognitivas.</p>
                    </div>
                  <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
              </div><!-- /.col-lg-4 -->

                <div class="col-lg-4 ">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{% static 'images/primerCiclo.jpg' %}" alt="Card image cap">
                </div>
                    <div id="ciclo" class=" mt-2 foo  foo-2">
                        <h2>Medio Mayor B</h2>
                        <p>Es una etapa muy significativa para los niños, ya que comienza un desarrollo de sus habilidades físicas y cognitivas.</p>
                    </div>
                  <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
              </div><!-- /.col-lg-4 -->

                <div class="col-lg-4 ">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{% static 'images/primerCiclo.jpg' %}" alt="Card image cap">
                </div>
                    <div id="ciclo" class=" mt-2 foo  foo-2">
                        <h2>Transición 1A</h2>
                        <p>Es una etapa muy significativa para los niños, ya que comienza un desarrollo de sus habilidades físicas y cognitivas.</p>
                    </div>
                  <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
              </div><!-- /.col-lg-4 -->

                <div class="col-lg-4 ">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{% static 'images/primerCiclo.jpg' %}" alt="Card image cap">
                </div>
                    <div id="ciclo" class=" mt-2 foo  foo-2">
                        <h2>Transición 1B</h2>
                        <p>Es una etapa muy significativa para los niños, ya que comienza un desarrollo de sus habilidades físicas y cognitivas.</p>
                    </div>
                  <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
              </div><!-- /.col-lg-4 -->

              <div class="col-lg-4 ">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{% static 'images/social.jpg' %}" alt="Card image cap">
                </div>
                <div id="ciclo" class="mt-2 foo  foo-2">
                    <h2>Transición 2A</h2>
                    <p>En este periodo nuestros estudiantes desarrollan sus habilidades sociales a través de distintos talleres extra programaticos.</p>
                </div>
                                          <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
              </div><!-- /.col-lg-4 -->

                <div class="col-lg-4 ">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{% static 'images/social.jpg' %}" alt="Card image cap">
                </div>
                <div id="ciclo" class="mt-2 foo  foo-2">
                    <h2>Transición 2B</h2>
                    <p>En este periodo nuestros estudiantes desarrollan sus habilidades sociales a través de distintos talleres extra programaticos.</p>
                </div>
                                          <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
              </div>

                <div class="col-lg-4 ">
                <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                    <img class="w-100 h-100" src="{% static 'images/social.jpg' %}" alt="Card image cap">
                </div>
                <div id="ciclo" class="mt-2 foo  foo-2">
                    <h2>Transición 2C</h2>
                    <p>En este periodo nuestros estudiantes desarrollan sus habilidades sociales a través de distintos talleres extra programaticos.</p>
                </div>
                                          <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
              </div>

            </div><!-- /.row -->


    </div>



{% endblock %}
</body>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center  justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Conecte con nosotros a través de las redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>

    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-school"></i>
            Escuela Arcoiris
          </h6>
          <img src="{% static 'images/logoarc.jpg' %}"  class="img-fluid" alt="Responsive image">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Colegio
          </h6>
          <p>
            <a href="{% url 'directiva' %}" class="text-reset">Directiva</a>
          </p>
          <p>
            <a href="{% url 'mision' %}" class="text-reset">Mision</a>
          </p>
          <p>
            <a href="{% url 'vision' %}" class="text-reset">Vision</a>
          </p>
          <p>
            <a href="#!" class="text-reset">P.I.E</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links de ayuda
          </h6>
          <p>
            <a href="{% url 'admision' %}" class="text-reset">Admisión</a>
          </p>
          <p>
            <a href="{% url 'contacto' %}" class="text-reset">Contacto</a>
          </p>
            <p>
            <a href="{% url 'galeria' %}" class="text-reset">Fotos</a>
          </p>
          <p>
            <a href="{% url 'direccion' %}" class="text-reset">Dirección</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fa fa-home me-3"></i> Elisa Alvarez 132, San Clemente, Talca, CL</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            escuelarcoirisanclemente@gmail.com
          </p>
          <p><i class="fa fa-phone me-3"></i> + 56 71 2620543</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->



  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021:
    <a class="text-reset fw-bold" href="">Tomás Salgado</a>
  </div>
  <!-- Copyright -->
<script>



window.sr = ScrollReveal({ reset: true });

// Custom Settings
sr.reveal('.foo-1', {
    origin: 'right',
    duration: 2000
});

sr.reveal('.foo-2', {
  origin: 'right',
  duration: 3000
});



function ellipsis_box(elemento, max_chars){
        limite_text = $(elemento).text();
        if (limite_text.length > max_chars)
        {
        limite = limite_text.substr(0, max_chars)+" ...";
        $(elemento).text(limite);
        }
        }
        $(function()
        {

        ellipsis_box("#notice", 40);
        });
</script>

</footer>

<!-- Footer -->
</html>