{% extends "index.html" %}

{% load static %}


{% block content %}


    <div class="container text-center">
        <div class="p-5 mb-4 mt-4 bg-light rounded-3">
            <div class="  container-fluid py-5">
            <h1>Profesores Colegio Altas Cumbres</h1>
                 <div class="row" >
                     {% for profesor in profesores  %}
                    <div class="col-sm-4 col-md-3 mx-auto py-3">
                        <div class="card  border">
                            <img src="{{ profesor.foto.url }}" height="100%" width="100%" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h4 class="card-title text-primary">{{ profesor.nombre}} {{ profesor.apellido }}</h4>
                                <p class="card-text">{{ profesor.profesion }}</p>
                                <p class="card-text">{{ profesor.universidad }}</p>
                                <p class="card-text">{{ profesor.descripcion }}</p>
                                <a href="/delete/profesor/{{ profesor.id }}" role="button" class="btn btn-danger">Eliminar</a>

                            </div>
                        </div>
                    </div>
                     {% endfor %}
                 </div>
            </div>
        </div>
    </div>



{% endblock %}