{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-center">
          <div class="p-5 mb-4 mt-4 bg-light rounded-3">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Valores</h1>
                <p >El Colegio Altas Cumbres de San Clemente concibe al ser humano como una persona integral y afectiva, esencialmente libre, que dotada de inteligencia y voluntad, le permite asumir responsablemente la construcción de su proyecto de vida. Además, considera al deporte, la vida saludable, lo artístico y cultural, como una parte fundamental para el desarrollo del ser humano. Por esto, nuestro establecimiento privilegia y promueve el cultivo de los siguientes valores:.</p>
              </div>

              <div class="container px-4 py-5" id="custom-cards">

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5  display-6 lh-1 fw-bold">Respeto</h2>
            <p class="mb-4 ">Es una manera de ser amable con los demás. Se centra en que pienses cómo se sienten los demás. Consiste en tratar a los demás de la misma forma que quieres que te traten a ti, teniendo en cuenta sus sentimientos y su bienestar.</p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 display-6 lh-1 fw-bold">Responsabilidad</h2>
            <p class="mb-4 ">Implica tener la capacidad de cumplir con nuestros compromisos y reflexionar antes de tomar cualquier decisión, pensando en los resultados y efectos que pueda afectar la propia vida o la de otros.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Solidaridad</h2>
            <p class="mb-4">Solidaridad es ese sentimiento que se siente y da ganas de ayudar a las personas que lo necesiten sin intención de recibir algo a cambio.</p>
          </div>
        </div>
      </div>

        <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Libertad</h2>
            <p class="mb-4">La libertad es la posibilidad que tenemos para decidir por nosotros mismos como actuar en las diferentes situaciones que se nos presentan en la vida.

</p>
          </div>
        </div>
      </div>

        <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Honestidad</h2>
            <p class="mb-4">La honestidad es el respeto a las buenas costumbres, a los principios morales y a los bienes ajenos. Es la acción constante de evitar apropiarse de lo que nos pertenece.

</p>
          </div>
        </div>
      </div>

        <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Perseverancia</h3>
            <p class="mb-4"> La perseverancia es esa la capacidad que tiene cada persona para continuar y mantenerse constante en el logro de sus objetivos, aunque en el camino se encuentre con dificultades las cuales no son motivos para rendirse

</p>
          </div>
        </div>
      </div>


        <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Protección al medio ambiente</h2>
            <p class="mb-4">El calentamiento global supone cambios graves en el planeta, como el aumento del nivel del mar, fenómenos atmosféricos extremos, deforestación, desaparición de especies… Pero como individuos podemos poner en marcha pequeñas acciones dentro de nuestra comunidad que ayuden a frenarlo y a cuidar el medio ambiente.

</p>
          </div>
        </div>
      </div>

        <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Tolerancia</h3>
            <p class="mb-4"> La tolerancia es valorar y respetar las diferencias individuales; es tener en cuenta las opiniones y actividades que realizan las demás personas, generando una actitud de igualdad a ellos

</p>
          </div>
        </div>
      </div>

    </div>
  </div>


          </div>
    </div>

{% endblock %}