{% extends "index.html" %}

{% load static %}


{% block content %}

    <div class="container text-center">
        <div class="p-5 mb-4 mt-4 bg-light rounded-3">
            <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Visión</h1>
            <p class="col-md-8 fs-4">
            Formar alumnos de nivel básico en óptimas condiciones,
            con un alto grado de desarrollo de sus habilidades y destrezas cognitivas,
            artísticas, deportivas y culturales, que le permitan adquirir aprendizajes de
            calidad sustentados en profundos valores éticos y morales que los prepare de forma eficiente y
            eficaz para poder integrarse, adaptarse y mejorar las relaciones interpersonales con el medio familiar,
            escolar y social, demostrando gran respeto por su entorno social, natural, cultural y por la diversidad,
            generando mejores expectativas en los alumnos y sus familias..</p>
            </div>
        </div>
    </div>

{% endblock %}